{% macro front() -%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
<div class="front-wrap-layer">
    <svg class="front-background-layer">
        <polygon points="0,0 0,740 1600,300 1600,0" style="fill:#F1BE48" />
    </svg>
    <div class="row front-text-layer">
        <div class="col front-col" style="padding-left:6em; padding-right:3em">
            <h1 class="front-h1" style="font-size:3em">Computer Science and Software Engineering Club</h1>
            <p class="front-p">Iowa State's Community for Computer Scientists and Software Engineers.</p>
            <button class="btn btn-danger front-btn">Join Us!</button>
        </div>
        <div class="col front-col" style="padding-left:3em; padding-right:6em">

        </div>
    </div>
</div>
{% endmacro -%}