<!--{% macro front() -%}-->
<!--Just for testing-->
<link rel="stylesheet" href="/app/static/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/app/static/css/front.css"/>

<div class="wrap-layer">
    <svg class="background-layer">
        <polygon points="0,0 0,740 1600,300 1600,0" style="fill:#F1BE48" />
    </svg>
    <div class="row text-layer">
        <div class="col" style="padding-left:6em; padding-right:3em">
            <h1 style="font-size:3em">Computer Science and Software Engineering Club</h1>
            <p>Iowa State's Community for Computer Scientists and Software Engineers.</p>
            <button class="btn btn-danger">Join Us!</button>
        </div>
        <div class="col" style="padding-left:3em; padding-right:6em">

        </div>
    </div>
</div>
<!--{% endmacro -%}-->