{% macro who_are_we() -%}
<h1 class="text-center" style="padding-bottom: 2%;">
    <b>Who Are We?</b>
</h1>
<div class="row justify-content-center">
    <div class="col-4">
        <p>
            Repudiandae quia est labore. Voluptate illum consequatur optio doloremque porro. Et inventore magnam aperiam dolorem eum. Et quaerat adipisci nemo adipisci accusantium voluptate voluptates. Veniam ea expedita asperiores quas sunt nemo officia soluta.
            <br><br>
            Qui velit voluptatem exercitationem nobis sunt quisquam. Laborum praesentium corporis consequatur omnis hic sapiente necessitatibus quidem. Et cupiditate ipsum eaque quo rem quia non omnis. Facilis beatae voluptatum rerum nesciunt incidunt. Quis labore sunt enim quaerat sit iste totam.
            <br><br>
            Ipsam sunt fugit libero qui. Sunt facilis velit quae. Fugit molestias distinctio necessitatibus rerum dicta labore quidem. Similique eum odit necessitatibus qui accusantium animi qui.
        </p>
        <div class="text-center" style="padding-top:4%;">
            <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color:#C8102E; border-radius:0;">About Us</a>
        </div>
    </div>
    <div class="col-4 text-center">
      <img class="img-fluid" src="/static/images/who_are_we.png">
    </div>
</div>
{%- endmacro %}