<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CSE</title>
        <meta name="description" content="Some Content">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>
    <body>
        <nav>
            <img id="logo" alt="logo"> 
            <ul>
                <li><a href="/">Landing</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/officers">Officers</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
            </ul>
            <a id="search" href="">Search</a>
        </nav>
        <div class="container">
            {% block body %}{% endblock body %}
        </div>

        <script src="/static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>