{% extends 'layout.html' %}

{% block body %}
    <h1>Officers</h1>
    <div class="img">
        <img src="images/gray.png">
    </div>

    <div class="container">
        <div class="row">
          <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Ben Johnson</h5>
                    <p class="card-text">He/She is a student at Iowa State University.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
          </div>
          <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Charles</h5>
                    <p class="card-text">He/She is a student at Iowa State University.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Subham</h5>
                  <p class="card-text">He/She is a student at Iowa State University.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Help</h5>
                  <p class="card-text">He/She is a student at Iowa State University.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">He/She is a student at Iowa State University.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">He/She is a student at Iowa State University.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
    </div>
{% endblock body %} 

